<configuration>
  <config>
    <packageRestore>
      <!-- Allow NuGet to download missing packages -->
      <add key="enabled" value="True" />
      <!-- Automatically check for missing packages during build in Visual Studio -->
      <add key="automatic" value="True" />
    </packageRestore>
    <add key="repositoryPath" value="nugetpackages" />
  </config>
  <packageSources>
    <add key="OMAX" value="https://artifactory.hypertherm.com/artifactory/api/nuget/v3/omax-nuget-private/index.json" />
  </packageSources>
</configuration>